In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {
    "nombre": ["Ana", "Luis", "Maria", "Juan", "Ana", None],
    "edad": [23, 35, np.nan, 29, 23, 40],
    "ingresos": [15000, 30000, 20000, None, 15000, 50000],
    "ciudad": ["CDMX", "CDMX", "GDL", "MTY", "CDMX", None]
}

df = pd.DataFrame(data)
df

  nombre  edad  ingresos ciudad
0    Ana  23.0   15000.0   CDMX
1   Luis  35.0   30000.0   CDMX
2  Maria   NaN   20000.0    GDL
3   Juan  29.0       NaN    MTY
4    Ana  23.0   15000.0   CDMX
5   None  40.0   50000.0   None

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nombre    5 non-null      object
 1   edad      5 non-null      float64
 2   ingresos  5 non-null      float64
 3   ciudad    5 non-null      object
dtypes: float64(2), object(2)
memory usage: 324.0+ bytes

In [6]:
df.isnull().sum()

nombre      1
edad        1
ingresos    1
ciudad      1
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(1)

In [9]:
df= df.drop_duplicates()

In [10]:
df["edad"].fillna(df["edad"].mean(),inplace=True),
df["ingresos"].fillna(df["ingresos"].median(),inplace=True),
df["ciudad"].fillna("desconocido",inplace=True)

C:\Users\Hp 600\AppData\Local\Temp\ipykernel_32580\470893914.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["edad"].fillna(df["edad"].mean(),inplace=True),
C:\Users\Hp 600\AppData\Local\Temp\ipykernel_32580\470893914.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ingresos"].fillna(df["ingresos"].median(),inplace=True),

In [11]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nombre    4 non-null      object
 1   edad      5 non-null      float64
 2   ingresos  5 non-null      float64
 3   ciudad    5 non-null      object
dtypes: float64(2), object(2)
memory usage: 200.0+ bytes

  nombre   edad  ingresos       ciudad
0    Ana  23.00   15000.0         CDMX
1   Luis  35.00   30000.0         CDMX
2  Maria  31.75   20000.0          GDL
3   Juan  29.00   25000.0          MTY
5   None  40.00   50000.0  desconocido

##Data Cleaning Summary
-Remove Duplicate Records
-Handled Missing Values
-Prepared Dataset for Analysis